<div class=" navbar container teal borderYtoX">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li>
          <a routerLink="/"  aria-current="page">
            <img src="../assets/logo.jpeg" alt="home">
          </a>
        </li>
        <li class="nav-item"><a routerLink="/devs"
            routerLinkActive="active">Developer</a></li>
            <li class="nav-item"><a routerLink="/tasks"
                routerLinkActive="active">Add tasks</a></li>
                <li class="nav-item"><a routerLink="/taskBoard"
                    routerLinkActive="active">Tasks</a></li>
      </ul>
    </header>
  </div>