<div>
  <h2>Tasks</h2>
  <div class="form-group">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>nbHoursForecast</th>
            <th>nbHoursReal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.title}}</td>
            <td>{{task.type}}</td>
            <td>{{tasksStatus}}</td>
            <td>{{task.nbHoursForecast}}</td>
            <td>{{task.nbHoursReal}}</td>
            <button (click)="moveTask(action,task.id)">Move Left</button>
            <button (click)="moveTask(action,task.id)">Move Right</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>